:root {
--accent-color: #404BBF;
--headers-description: #2E2F42;
--descriptions: #434455;
--footer-description: #F4F4FD;
--button-color: #4d5ae5;
--button-background: #F4F4FD;
--iris: #4D5AE5;
--cornflower: #E7E9FC;
--secondary-logo-header-color: #2e2f42;
/**
  |============================
  | Fonts
  |============================
*/
--font-logo: font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
   margin: 0;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
   
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    
}
.section {
    padding-top: 0;
    padding-bottom: 120px;
}
.section-goals {
    margin-top: 114px;
    margin-bottom: 120px;
}
/**
  |============================
  | Header
  |============================
*/
.logo-first-part-header {
    padding-top: 25.5px;
    padding-bottom: 25.5px;

    font-family: var(--font-logo);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);

}
.logo-second-part-header {
    padding-top: 25.5px;
    padding-bottom: 25.5px;

    font-family: var(--font-logo);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-logo-header-color);

}

.header-container {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
}
.menu {
    display: flex;
    margin-left: 76px;
}
.menu-item + .menu-item {
    margin-left: 40px;


}
.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}    

.menu-link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--headers-description);
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;

}

/* --------------------Address--------------------- */
address {
    font-style: normal;
}
.address-list {
    margin-left: auto;
}
.address-menu {
    display: flex;
    margin-left: auto;

}
.address-item + .address-item {
    margin-left: 40px;
}
.address-link {
    padding-top: 24px;
    padding-bottom: 24px;
        font-style: normal;
        list-style: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus {
color: #404bbf;
}

/* --------------------/Address--------------------- */

/**
  |============================
  | /HEADER
  |============================
*/

/**
  |============================
  | HERo
  |============================
*/
.hero {
   
    background-color: #2e2f42;
    text-align: center;
    height: 600px;
}

.hero-title {
    align-items: center;
    width: 496px;
    margin: auto;
    margin-bottom: 48px;
 

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}
.order-button {
        padding: 16px 32px;
        align-items: flex-start;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: var(--iris);
        color:#ffffff;
    cursor: pointer;
}
.order-button:hover,
.order-button:focus {
    background-color: #404BBF
}
/**
  |============================
  | /HERO
  |============================
*/


/**
  |============================
  | OUR GOALS
  |============================
*/
.invisible-head {
    margin-top: 0;
    margin-bottom: 0;

}

.goals-menu {
    display: flex;
    
}

goals-list {
    width: 264px;
    margin-right: 24px;
}

.goals-item {
    margin-top: 0;
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--headers-description);
}
.goals-description {
    margin-top: 0;
    margin-bottom: 0;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--descriptions);
}

/**
  |============================
  | /OUR GOALS
  |============================
*/


/**
  |============================
  | OUR SERVICES
  |============================
*/
.services-title {
    margin-top: 0;
    margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--headers-description);
}

.services-list {
    display: flex;
    
    
}

.services-item {
    width: calc((100% - 48) / 3) ;
    margin-right: 24px;
    
}

.services-item:nth-child(3n) {
    margin-right: 0px;
}
/**
  |============================
  | /OUR SERVICES
  |============================
*/


/**
  |============================
  | OUR TEAM
  |============================
*/
.our-team-section {
    background-color: #F4F4FD
}
.team-title {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: var(--headers-description);

}
.team-menu {
    display: flex;
    text-align: center;

    background-color: #FFFFFF
}
.team-item {
    margin-right: 24px;
    width: calc((100%-70) / 4);

    background-color: #FFFFFF;
}

.team-item:nth-child(4n){
    margin-right: 0;
}
.team-name {
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--headers-description);
}
.team-position {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--descriptions);
}

/**
  |============================
  | /OUR TEAM
  |============================
*/


/**
  |============================
  | FOOTER
  |============================
*/


.footer {
    background-color: #2e2f42;
    height: 312px;
}
.logo-first-part-footer {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-second-part-footer {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-description);
}

.footer-logo {
    display:inline-block;
    margin-top: 101.5px;
    margin-bottom: 17.5px;
}

.footer-description {
   display: block;
   flex-direction: column;
    margin-top: 17.5px;
    margin-bottom: 100px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--footer-description);
}

/**
  |============================
  | /FOOTER
  |============================
*/


/**
  |===========================================================================
  | PORTFOLIO
  |===========================================================================
*/


.portfolio-list {
    text-decoration: none;
}

.filter-menu {
    display: flex;
    justify-content: center;
}

.filter-item {
    margin-right: 24px;
}

.filter-item:nth-child(5n) {
    margin-right: 0;
}

.filter-button {
    
    padding: 12px 24px;

    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid var(--cornflower, #E7E9FC);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    color: var(--button-color);
    background-color: var(--button-background);
}
.filter-button:focus,
.filter-button:hover {
    background-color: var(--accent-color);
    color: #FFFFFF;
    
}

.portfolio-job-list {
    display: flex;
    flex-wrap: wrap;
    
}

.portfolio-list {
    margin-right: 24px;
    margin-bottom: 48px;
    width: 360px;
    
}
.portfolio-list:nth-child(3n) {
    margin-right: 0;
    
}

.portfolio-list:nth-child(-n+3) {
    margin-top: 72px;
}

.portfolio-links {
    display: flex;
}

.portfolio-list-head {
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headers-description);
    text-decoration: none;
}
.portfolio-list-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--descriptions);
    text-decoration: none;
}
.portfolio-block {
    display: flex;
        padding: 0px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
}

/**
  |==============================================================================
  | /PORTFOLIO
  |==============================================================================
*/




